.logo{
    margin: 0 auto;
    margin-top: 10px;
}

.logo img{
    max-width: 300px;
}

.row{ 
    margin: 0 auto;
    margin-top:50px ;
    width: 80%;
}

mat-card{

    text-align: justify;
    min-height:240px;
}

.card-subtitle{
    text-align: left;
}

h1{
    margin-top: 25px;
    font-size: xx-large;
}

