<div>
    <div class="d-flex justify-content-center">
        <h1>Sistema de Inventarios y Gestión de Activos</h1>
    </div>
    
    <div class="logo d-flex justify-content-center">
        
        <img src="assets/images/logocole.png" alt="Logo">
    </div>
    
    <div class="row">

        <div class="col-xxl-3  col-md-6">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-subtitle>Activos</mat-card-subtitle>
                  <mat-card-title>Activos Nuevos Sin Placa</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                    <br>
                  <p>Cantidad de activos que han sido agregados al sistema cuya placa fisica todavia no ha sido impresa.</p>
                  <h2 [ngClass]="getColorClass()">{{this.placas}}</h2>
                  <mat-divider></mat-divider>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-flat-button color="primary" [routerLink]="['/activos']" >Ver Activos</button>
                  <!-- <button mat-button>Como Usar</button> -->
                </mat-card-actions>
                <mat-card-footer>
                  
                </mat-card-footer>
              </mat-card>
        </div>
        <div class="col-xxl-3  col-md-6">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-subtitle>Actas</mat-card-subtitle>
                  <mat-card-title>Actas No Impresas</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                    <br>
                  <p>Cantidad de Actas de bajas o de traslado que han sido generadas pero todavia no han sido impresas.</p>
                  <h2 [ngClass]="getColorClass()">{{this.actas}}</h2>
                  <mat-divider></mat-divider>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-flat-button color="primary" [routerLink]="['/actas/lista']" >Ver Actas</button>
                  <!-- <button mat-button>Como Usar</button> -->
                </mat-card-actions>
                <mat-card-footer>
                  
                </mat-card-footer>
              </mat-card>
        </div>
        
        <div class="col-xxl-3  col-md-6">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-subtitle>Actas</mat-card-subtitle>
                  <mat-card-title>Excels Para Impresion</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                    <br>
                  <p>Cantidad de Excels de listado de registro listos para ser generados e impresos.</p>
                  <h2 [ngClass]="getColorClass()">{{this.excels}}</h2>
                  <mat-divider></mat-divider>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-flat-button color="primary" [routerLink]="['/actas/excels']" >Ver Excels</button>
                  <!-- <button mat-button>Como Usar</button> -->
                </mat-card-actions>
                <mat-card-footer>
                  
                </mat-card-footer>
              </mat-card>
        </div>
        <div class="col-xxl-3 col-md-6">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-subtitle>Revisiones</mat-card-subtitle>
                  <mat-card-title>Activos Con Problemas</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                    <br>
                  <p>Cantidad de activos que fueron reportados con problemas en las revisiones del cierre de inventario.</p>
                  <h2 [ngClass]="getColorClass()">0</h2>
                  <mat-divider></mat-divider>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-flat-button color="primary" [routerLink]="['/index']" >Ver Activos</button>
                  <!-- <button mat-button>Como Usar</button> -->
                </mat-card-actions>
                <mat-card-footer>
                  
                </mat-card-footer>
              </mat-card>
              
        </div>
    </div>
</div>
