table {
  width: 100%;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgb(207, 207, 207);
}

.textFiltros {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0px;
  margin: 0px;
  width: 100%;
  padding-right: 5px;
}

.textFiltros mat-icon{
  margin-right: 10px;
}

.accordion-button::after{
  color: black;
}

table {
  width: 100%;
}

.mensaje {
  color: red;
}

.confirmar {
  margin-left: 11px;
}

.confirmar mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
}

@media (max-width: 1435px) {
  .example-container{
      width: 90%;
  }
}

@media (max-width: 768px) {
  .example-container{
      width: 93%;
  }
}