<div class="d-flex justify-content-center">
    <h1>Sistema de Invetarios y Gestion de Activos</h1>
</div>

<div class="logo d-flex justify-content-center">
    
    <img src="assets/images/logocole.png" alt="Logo">
</div>

<div class="d-flex justify-content-center">
    <h2>La pagina solicitada no existe, por favor verifique el enlace o retorne al inicio</h2>
</div>

<div class="d-flex justify-content-center">
    <button mat-flat-button color="primary" [routerLink]="['/index']" >Retornar Al Inicio</button>
</div>