<div class="titulo d-flex justify-content-center">
    <h1>Editar Modo de Aquisición</h1>
</div>
<div class="formAgregar">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="divForm">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg">    
                                <mat-form-field appearance="outline" class="inputsForm">
                                    <mat-label>Descripción</mat-label>
                                    <input matInput formControlName="descripcion">
                                    <mat-hint>La descripción del modo de adquisición</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-between">
                        <div class="col-auto">
                            <button mat-flat-button color="primary" type="submit" [disabled]="!myForm.valid">Editar modo de adquisición</button>
                        </div>
                        <div class="col-auto">
                            <button mat-flat-button color="primary" type="button" [routerLink]="'/adquisiciones/' + adquisicionId">Retornar</button>    
                        </div>
                    </div>

                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>