.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.formAgregar{
  padding: 5px;
  max-width: 60%;
  margin: 0 auto;
}

.inputsForm{
  margin-top: 15px;
  margin-bottom: 15px;
}

.divForm{
  display: flex;
  flex-wrap: wrap; 
}



.checks{
  margin-top: 22px;
}

@media (max-width: 1450px) {
  .formAgregar{
    max-width: 80%;
  }
}

@media (max-width: 1300px) {
  .formAgregar{
    max-width: 90%;
  }
}