Levantamiento_de_Requerimientos_y_Especificaciones_Tecnicas.pdf
ACTA_BAJA_BIENES_1-2022_pag_1_Elec.pdf
ACTA_BAJA_BIENES_1-2022_pag_2_Elec.pdf
Acta_de_traslado_de_bienes_Lab_Institucional_N7.pdf
Formato para Impresion(1).xlsx
Inventario 6105-CTPC-2024(1).xlsx
aqui
__pycache__/
!?*.[Cc]ache/
