<div>
    <mat-card>
        <mat-card-content>
                <div *ngIf="datos">
                    <h1>Detalles de la Ubicación {{ datos.nombre_oficial }}</h1>
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Detalles Generales</h2>
                            <p><strong>Nombre oficial:</strong> {{ datos.nombre_oficial }}</p>
                            <p><strong>Alias:</strong> {{ datos.alias }}</p>
                            <p><strong>Funcionario:</strong> {{ datos.funcionario_id }}</p>
                        </div>
                        <div class="col-sm-6">
                            <h2>Acciones</h2>
                            <p>
                                <a mat-raised-button color="primary" (click)="onEdit()">Editar Ubicacion</a>  
                            </p>  
                            <p>
                                <button mat-raised-button style="background-color: red; color: white;" color="primary" (click)="borrarUbicacion()">Borrar ubicación</button>  
                            </p>
                            
                                             
                        </div>
                    </div>    
                    <button mat-flat-button color="primary" routerLink="/ubicaciones">Retornar</button>            
                </div>
        </mat-card-content>
    </mat-card>
</div>

