.outerDiv{
    margin: 0 auto;
    margin-top: 15px;
    width: 95%;
}

table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  // td, th {
  //   width: 25%;
  // }

  /* Structure */
// .example-container {
//   margin: 0 auto;
//   width: 90%;
//   margin-top: 50px;
// }

.example-table-container {
  position: relative;
  // min-height: 200px;
  // max-height: 400px;
  overflow: auto;
}

.example-container2{
  max-height: 719px; /* Adjust the height as needed */
  overflow-y: auto;
  display: block;
}

.mat-mdc-row .mat-mdc-cell {
  // border-bottom: 1px solid transparent;
  // border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgb(207, 207, 207);
}

.textFiltros{
  margin:0px;
  padding:0px;
  width:100%;
  text-align: right;
  padding-right: 5px;
}

.accordion-button::after{
  color: black;
}


table {
  width: 100%;
}

.mensaje{
  color: red;
}

.example-loading-shade {
  position: absolute;
  top: 73px; /* Adjust this to match your header height */
  left: 0;
  bottom: 0; /* Changed to 0 to cover the entire content area below the header */
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo{
    margin-top: 10px;
    margin-top: 10px;
}

.confirmar{
  margin-top: 10px; 
  margin-left: 0px;
  margin-bottom: 10px;
}

// @media (max-width: 1435px) {
//   .example-container{
//       width: 90%;
//   }
// }

// @media (max-width: 768px) {
//   .example-container{
//       width: 93%;
//   }
// }