<div>
    <div class="titulo d-flex justify-content-center">
        <h1>Crear Nueva Acta de Baja</h1>
    </div>
    <div class="formAgregar">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="divForm">
                    <div class="container">
                      <div class="row">
                        <mat-form-field appearance="outline" class="inputsForm">
                          <mat-label>Descripcion</mat-label>
                          <input matInput formControlName="descripcion" placeholder="Se estaran dando a una empresa que manejara los desechos de manera adecuada">
                          <mat-hint>Descripcion de lo que se hara con el activo</mat-hint>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="outline" class="inputsForm">
                          <mat-label>Razon de Baja</mat-label>
                          <mat-select formControlName="razon" placeholder="Seleccione una razon">
                            <mat-option value="Obsolencia">Obsolencia</mat-option>
                            <mat-option value="Inservibilidad">Inservibilidad</mat-option>
                          </mat-select>
                          <mat-hint>Razon por la cual se estara dando de baja el activo</mat-hint>
                        </mat-form-field>
                      </div>
                  
                      <div class="row"> 
                        <mat-form-field>
                          <mat-label>Search</mat-label>
                          <input matInput formControlName="search" placeholder="Search activos">
                        </mat-form-field>
                      </div>
                  
                      <div class="row">
                        <table mat-table [dataSource]="dataSource" style="cursor: pointer;" class="mat-elevation-z8" matSort>
                          <!-- Columns Definition -->
                          <ng-container matColumnDef="no_identificacion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero de identificacion del bien </th>
                            <td mat-cell *matCellDef="let element" (click)="selectActivo(element)"> {{element.no_identificacion}} </td>
                          </ng-container>
                  
                          <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef> Descripcion del bien </th>
                            <td mat-cell *matCellDef="let element" (click)="selectActivo(element)"> {{element.descripcion}} </td>
                          </ng-container>
                  
                          <ng-container matColumnDef="marca">
                            <th mat-header-cell *matHeaderCellDef> Marca </th>
                            <td mat-cell *matCellDef="let element" (click)="selectActivo(element)"> {{element.marca}} </td>
                          </ng-container>
                  
                          <ng-container matColumnDef="modelo">
                            <th mat-header-cell *matHeaderCellDef> Modelo </th>
                            <td mat-cell *matCellDef="let element" (click)="selectActivo(element)"> {{element.modelo}} </td>
                          </ng-container>
                  
                          <ng-container matColumnDef="serie">
                            <th mat-header-cell *matHeaderCellDef> Serie </th>
                            <td mat-cell *matCellDef="let element" (click)="selectActivo(element)"> {{element.serie}} </td>
                          </ng-container>
                  
                          <!-- Header and Row Declarations -->
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
                      </div>
                  
                      <div class="row">
                        <div class="col-sm-6">
                          <button mat-flat-button color="primary" type="submit" class="btnAgregar" [disabled]="!myForm.valid">Agregar Informacion Al Acta</button>
                        </div>
                        <div class="col-sm-6">
                          <button mat-flat-button color="warn" (click)="resetActa()" class="btnWarning" >Reiniciar Informacion del Acta</button>
                        </div>
                        
                      </div>
                      <div class="row">
                        <div class="col-lg" style="margin-top: 10px;">
                          <button mat-flat-button color="primary" (click)="generatePdf(contentToConvert)">Guardar y Descargar PDF</button>
                        </div>  
                        
                      </div>
                    </div>
                  </form>
        
            </mat-card-content>
        </mat-card>
    </div>
</div>


<br>

<br>
<div class="titulo d-flex justify-content-center">
    <h1>Previsualizacion del Acta</h1>
</div>
<br>
<div class="d-flex justify-content-center">
  <div class="parent-component">
    <div #specific class="specific-div">
      <div #contentToConvert class="cont">
        <div class="cont" *ngFor="let tabla of activoTablas; let i = index">
          <div #header class="cont">
            <img src="assets/images/header.png" alt="" class="header">
            <!-- <h1 class="centered">Ministerio de Educacion Publica</h1>
            <h1 class="centered">Direccion Regional Educacion de Alajuela</h1>
            <h3 class="centered">Colegio Tecnico Profesional de Carrizal</h3>
            <br>
            <br>
            <h4 class="centered">Info Contacto</h4>
            <h4 class="centered">Info Contacto</h4> -->
            <p>&nbsp;</p>
           
            <div class="cont" [ngClass]="{'noHeight': i != 0}">
              <p class="titulos">ACTA DE BAJA DE BIENES N {{numActa}}</p>
              <p class="titulos">Fecha del Acta: {{fechaActa}}</p>
              <!-- <img src="assets/images/logocole.png" alt="" class="absolute-img"> -->
              <br>
              <table #firstTable class="tabla">
                  <tr>
                    <th colspan="2"><b>Colegio Tecnico Profesional:</b> CARRIZAL</th>
                  </tr>
                  <tr>
                    <td class="half-width"><b>Fecha de baja del bien:</b> {{fechaActa}}</td>
                    <td class="half-width"><b>Curso Lectivo:</b> {{ahno}}</td>
                  </tr>
                  <tr>
                    <td colspan="2"><b>Empresa a la cual se va a entregar para su reciclaje o destruccion. O bien, el metodo que se va a utilizar para desecharlo: </b> {{descActa}}</td>
                  </tr>
              </table> 
            </div>
          </div>
          
          <div class="tabla-container">
            <table class="tabla2">
              <thead>
                <tr>
                  <th rowspan="2" style="width: 15.218%;">Número de identificacion del bien</th>
                  <th rowspan="2" style="width: 22.277%; padding: 0%;">Descripción del bien</th>
                  <th rowspan="2" style="width: 9.725%;">Marca</th>
                  <th rowspan="2" style="width: 9.725%;">Modelo</th>
                  <th rowspan="2" style="width: 11.055%;">Serie</th>
                  <th colspan="2" style="width: 32%;">Marque con X según corresponda</th>
                </tr>
                <tr>
                  <th>Obsolencia</th>
                  <th>Inservibilidad</th>
                </tr>
              </thead>
              <tr *ngFor="let activo of tabla">
                <td>{{activo.no_identificacion || ''}}</td>
                <td>{{activo.descripcion || ''}}</td>
                <td>{{activo.marca || ''}}</td>
                <td>{{activo.modelo || ''}}</td>
                <td>{{activo.serie || ''}}</td>
                <td>{{activo.razon === 'Obsolencia' ? 'X' : ''}}</td>
                <td>{{activo.razon === 'Inservibilidad' ? 'X' : ''}}</td>
              </tr>
            </table>
    
            <div class="tabla2 cont">
              <div id="text-measure" style="position: absolute;visibility: hidden; height:auto; width:22.277%;"></div>
            </div>
          </div>
  
          <div #blanco [attr.data-index]="i"></div>
  
         
           
          <ng-container *ngIf="activoTablas.indexOf(tabla) == activoTablas.length - 1">
            <img src="assets/images/firmas.png" alt="" class="firmas">
    
            <img src="assets/images/footer.png" alt="" class="footer">
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<br>



