<div>
    <div class="titulo d-flex justify-content-center">
        <h1>Crear Nueva Acta de Baja</h1>
    </div>
    <div class="formAgregar">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="divForm">
                    <div class="container">
                      <div class="row">
                        <mat-form-field appearance="outline" class="inputsForm">
                          <mat-label>Descripcion</mat-label>
                          <input matInput formControlName="descripcion" placeholder="Se estaran dando a una empresa que manejara los desechos de manera adecuada">
                          <mat-hint>Descripcion de lo que se hara con el activo</mat-hint>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="outline" class="inputsForm">
                          <mat-label>Razon de Baja</mat-label>
                          <input matInput formControlName="razon" placeholder="Obsolencia">
                          <mat-hint>Razon por la cual se estara dando de baja el activo</mat-hint>
                        </mat-form-field>
                      </div>
                  
                      <div class="row">
                        <mat-form-field>
                          <mat-label>Search</mat-label>
                          <input matInput formControlName="search" placeholder="Search activos">
                        </mat-form-field>
                      </div>
                  
                      <div class="row">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                          <!-- Columns Definition -->
                          <ng-container matColumnDef="no_identificacion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero de identificacion del bien </th>
                            <td mat-cell *matCellDef="let element" (click)="selectActivo(element)"> {{element.no_identificacion}} </td>
                          </ng-container>
                  
                          <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef> Descripcion del bien </th>
                            <td mat-cell *matCellDef="let element" (click)="selectActivo(element)"> {{element.descripcion}} </td>
                          </ng-container>
                  
                          <ng-container matColumnDef="marca">
                            <th mat-header-cell *matHeaderCellDef> Marca </th>
                            <td mat-cell *matCellDef="let element" (click)="selectActivo(element)"> {{element.marca}} </td>
                          </ng-container>
                  
                          <ng-container matColumnDef="modelo">
                            <th mat-header-cell *matHeaderCellDef> Modelo </th>
                            <td mat-cell *matCellDef="let element" (click)="selectActivo(element)"> {{element.modelo}} </td>
                          </ng-container>
                  
                          <ng-container matColumnDef="serie">
                            <th mat-header-cell *matHeaderCellDef> Serie </th>
                            <td mat-cell *matCellDef="let element" (click)="selectActivo(element)"> {{element.serie}} </td>
                          </ng-container>
                  
                          <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef> Estado </th>
                            <td mat-cell *matCellDef="let element" (click)="selectActivo(element)"> {{element.estado}} </td>
                          </ng-container>
                  
                          <!-- Header and Row Declarations -->
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
                      </div>
                  
                      <div class="row">
                        <button mat-flat-button color="primary" type="submit" [disabled]="!myForm.valid">Agregar Informacion</button>
                      </div>
                    </div>
                  </form>
        
            </mat-card-content>
        </mat-card>
    </div>
</div>


<br>
<button mat-flat-button color="primary" (click)="generatePdf(contentToConvert)">Guardar y Descargar PDF</button>
<br>
<div class="titulo d-flex justify-content-center">
    <h1>Previsualizacion del Acta</h1>
</div>
<br>
<div #contentToConvert class="cont"> 
    <h1 class="centered">Ministerio de Educacion Publica</h1>
    <h1 class="centered">Direccion Regional Educacion de Alajuela</h1>
    <h3 class="centered">Colegio Tecnico Profesional de Carrizal</h3>
    <br>
    <br>
    <h4 class="centered">Info Contacto</h4>
    <h4 class="centered">Info Contacto</h4>
    <h1 class="centered" style="margin-top: 25px;">ACTA DE BAJA DE BIENES N {{numActa}}</h1>
    <h1 class="centered">Fecha del Acta: {{fechaActa}}</h1>
    <img src="assets/images/logocole.png" alt="" class="absolute-img">
    <br>
    <table class="tabla">
        <tr>
          <th colspan="2"><b>Colegio Tecnico Profesional:</b> Carrizal</th>
        </tr>
        <tr>
          <td class="half-width"><b>Fecha de baja del bien:</b> {{fechaActa}}</td>
          <td class="half-width"><b>Curso Lectivo:</b> {{ahno}}</td>
        </tr>
        <tr>
          <td colspan="2"><b>Empresa a la cual se va a entregar para su reciclaje o destruccion. O bien, el metodo que se va a utilizar para desecharlo: </b> {{descActa}}</td>
        </tr>
    </table> 

    <table class="tabla2">
        <tr>
            <th ><b>Numero de identificacion del bien</b></th>
            <th ><b>Descripcion del bien</b></th>
            <th ><b>Marca</b></th>
            <th ><b>Modelo</b></th>
            <th ><b>Serie</b></th>
            <th ><b>Obsolescencia</b></th>
            <th ><b>Inservibilidad</b></th>
        </tr>
        <tr>
            <td>{{id}}</td>
            <td>{{desc}}</td>
            <td>{{marca}}</td>
            <td>{{modelo}}</td>
            <td>{{serie}}</td>
            <td>{{obs}}</td>
            <td>{{ins}}</td>
        </tr>

    </table>
</div>



