.divLogin{
    margin: 0 auto;
    width: 40%;
    margin-top: 1%;
}

.inputsForm{
    width: 100%;
}

mat-card-actions button{
    margin: 5px;
}

.logo{
    margin: 0 auto;
    margin-top: 10px;
}

.logo img{
    max-width: 200px;
}

h1{
    margin-top: 25px;
    font-size: xx-large;
}
