<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text" rel="stylesheet">

<br>
<div class="titulo d-flex justify-content-center">
    <h1>Escanear codigo de barras</h1>
</div>
<div class="inst d-flex justify-content-center">
    <h1>Por favor utilice el lector de codigos de barras para escanear el activo que desea visualizar</h1>
</div>
<!-- <div class="d-flex justify-content-center">
    <img src="assets/images/scan.gif" alt="gif de scan">
</div> -->

<div id='barcodeContainer' class='glowing-animation'>
    <h1 id="barcode">
      <span class="animatedSpan">6</span>
      <span class="animatedSpan">1</span>
      <span class="animatedSpan">0</span>
      <span class="animatedSpan">5</span>
      <span class="animatedSpan">-</span>
      <span class="animatedSpan">0</span>
      <span class="animatedSpan">1</span>
      <span class="animatedSpan">2</span>
      <span class="animatedSpan">3</span>
    </h1>
  </div>
<br>
  <div class="loader"></div>