<div class="content-container">
  <a routerLink="/index" class="go-back back-absolute" matTooltip="Ir atras">
    <mat-icon>arrow_back</mat-icon>
  </a>

  <div class="row">
    <div class="col-sm-6">
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <mat-card-subtitle>Activos</mat-card-subtitle> -->
          <mat-card-title>
            <mat-icon>person</mat-icon>
            Usuarios
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br>
          <p>Mediante este modulo se puede ver un listado de todos los usuarios y funcionarios, asi como crear nuevos o editar los existentes</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" [routerLink]="['/usuarios']">
            Entrar
          </button>
          <!-- <button mat-flat-button color="primary">Como Usar</button> -->
        </mat-card-actions>
        <mat-card-footer>
          
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="col-sm-6">
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <mat-card-subtitle>Activos</mat-card-subtitle> -->
          <mat-card-title>
            <mat-icon>location_on</mat-icon>
            Ubicaciones
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br>
          <p>Mediante este modulo se puede ver un listado de todos las ubicaciones, asi como crear nuevas o editar las existentes</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" [routerLink]="['/ubicaciones']">
            Entrar
          </button>
          <!-- <button mat-flat-button color="primary">Como Usar</button> -->
        </mat-card-actions>
        <mat-card-footer>
          
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <mat-card-subtitle>Actas</mat-card-subtitle> -->
          <mat-card-title>
            <mat-icon>warehouse</mat-icon>
            Modos de Adquisición
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br>
          <p>Mediante este modulo se puede ver un listado de todos los modos de adquisicion, asi como crear nuevas o editar los existentes</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary"  [routerLink]="['/adquisiciones']">
            Entrar
          </button>
          <!-- <button mat-flat-button color="primary">Como Usar</button> -->
        </mat-card-actions>
        <mat-card-footer>
          
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="col-sm-6" *ngIf="adminType == 'superadmin'">
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <mat-card-subtitle>Actas</mat-card-subtitle> -->
          <mat-card-title>
            <mat-icon>admin_panel_settings</mat-icon>
            Registros - Super Admin
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br>
          <p>Mediante este modulo se puede ver un listado de todos los registros con toda su información, esto para que puedan ser editados con facilidad</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary"  [routerLink]="['/registros/super-admin']">
            Entrar
          </button>
          <!-- <button mat-flat-button color="primary">Como Usar</button> -->
        </mat-card-actions>
        <mat-card-footer>
          
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="col-sm-6" *ngIf="userType == 'Administrador'">
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <mat-card-subtitle>Actas</mat-card-subtitle> -->
          <mat-card-title>
            <mat-icon>assignment</mat-icon>
            Solicitudes pendientes
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br>
          <p>Mediante este modulo se puede ver un listado de todas las solicitudes pendientes, esto para que puedan ser aceptados o rechazados por un administrador</p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary"  [routerLink]="['/admin/pendiente']">
            Entrar
          </button>
          <!-- <button mat-flat-button color="primary">Como Usar</button> -->
        </mat-card-actions>
        <mat-card-footer>
          
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>