.row{ 
    margin: 0 auto;
    margin-bottom: 50px;
}

mat-card{
    text-align: justify;
    min-height:200px;
    margin-bottom: 10px;
}

mat-card-title {
    display: flex;
    align-items: center;
    justify-content: start;

    mat-icon {
        margin-right: 10px;
    }
}

button{
    margin-left: 5px;
}

.card-subtitle{
    text-align: left;
}

@media (max-width: 1435px) {
    .row{
        width: 90%;
    }
  }

