<h1 mat-dialog-title>Agregar Anotacion</h1>
<div mat-dialog-content>
  <form [formGroup]="myForm" class="divForm">
    <div class="container">
      <div class="row">
        <br>
        <mat-form-field appearance="outline" class="inputsForm" style="margin-top: 6px;">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="descripcion" placeholder="Ej. El activo con activo 1234-1234 ha..."></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <h2>Agregar anotación a varios activos</h2>
        <section class="example-section">
          <div class="row">
            <div class="col-sm">
              <mat-form-field style="width: 100%;">
                <mat-label>Seleccione los activos</mat-label>
                <input #search placeholder="Buscar..." aria-label="buscar" (keyup)="filterActivos(search.value)" (focus)="onSearchFocus(selectActivos)" matInput>
                <mat-select #selectActivos (openedChange)="openedChange($event)" [formControl]="select_no_identificacion" multiple>
                  <mat-select-trigger>
                    <mat-chip-set>
                      <mat-chip *ngFor="let activo of selectedActivos" (removed)="removeActivo(activo)">
                        {{ activo.no_identificacion }}
                        <button matChipRemove [attr.aria-label]="'remove ' + activo">
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip>
                    </mat-chip-set>
                  </mat-select-trigger>
                  <div class="select-container">
                    <mat-optgroup *ngIf="filteredActivos?.length == 0">
                      <div>No results found!</div>
                    </mat-optgroup>
                    <mat-option (onSelectionChange)="selectionChange($event)" *ngFor="let activo of filteredActivos" [value]="activo">
                      {{ activo.no_identificacion }}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </section>
      </div>
      <br>
      <div class="row">
        <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="myForm.invalid || selectedActivos.length == 0">Agregar Anotación</button>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button color="primary" [mat-dialog-close]="false" style="margin-right: 16px;">Cerrar</button>
</div>