<div>
    <mat-card>
        <mat-card-content>
                <div>
                    <h1>Detalles del Activo {{ datos.no_identificacion }}</h1>
                    <div class="row">
                        <div class="col-sm-4">
                            <h2>Detalles Generales</h2>
                            <p><strong>ID Registro:</strong> {{ datos.id_registro }}</p>
                            <p><strong>No. Identificación:</strong> {{ datos.no_identificacion }}</p>
                            <p><strong>Descripción:</strong> {{ datos.descripcion }}</p>
                            <p><strong>Marca:</strong> {{ datos.marca }}</p>
                            <p><strong>Modelo:</strong> {{ datos.modelo }}</p>
                            <p><strong>Serie:</strong> {{ datos.serie }}</p>
                            <p><strong>Estado:</strong> {{ datos.estado }}</p>
                            <p><strong>Ubicación Original:</strong> {{ datos.ubicacion_original }}</p>
                            <p><strong>Ubicación Actual:</strong> {{ datos.ubicacion_actual }}</p>
                            <p><strong>Modo Adquisición:</strong> {{ datos.modo_adquisicion }}</p>
                            <p><strong>Precio:</strong> {{ datos.precio }}</p>
                            <p><strong>Creado El:</strong> {{ datos.creado_el }}</p>
                        </div>
                        <div class="col-sm-4">
                            <h2>Detalles Especificos</h2>
                            <p><strong>Es Conectividad:</strong> {{ datos.conectividad }}</p>
                            <p><strong>Es Seguridad:</strong> {{ datos.seguridad }}</p>
                            <p><strong>Placa ha Sido Impresa:</strong> {{ datos.placa_impresa }}</p>
                            <p><strong>Dado de Baja:</strong> {{ datos.de_baja }}</p>
                        </div>
                        <div class="col-sm-4">
                            <h2>Observaciones</h2>
                            <p [innerHTML]="datos.combinedDescripcion"></p>
                            <br>
                            <h2>Acciones</h2>
                            <p>
                                <button mat-flat-button color="primary" (click)="onEdit()">Editar Activo</button>  
                            </p>  
                            <p>
                                <button mat-flat-button color="primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar Anotacion</button>  
                            </p>   
                            <p>
                                <button mat-flat-button color="primary">Crear Acta de Baja</button>  
                            </p>
                            <p>
                                <button mat-flat-button color="primary">Crear Acta de Traslado</button>  
                            </p>  
                            
                                             
                        </div>
                    </div>    
                    <button mat-flat-button color="primary" routerLink="/activos">Retornar</button>            
                </div>
        </mat-card-content>
    </mat-card>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Anotacion</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
              <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="divForm">
                <div class="container">
                    <div class="row">
                        <mat-form-field appearance="outline" class="inputsForm">
                            <mat-label>Descripcion</mat-label>
                            <textarea matInput formControlName="descripcion" placeholder="Ej. El activo con placa 1234-1234 ha..."></textarea>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <button mat-flat-button color="primary" type="submit" [disabled]="!myForm.valid">Agregar Anotacion</button>
                    </div>

                </div>

              
            </form>
              
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button mat-flat-button color="primary">Agregar</button> -->
        </div>
      </div>
    </div>
  </div>
  
