mat-card{
    margin: 0 auto;
    margin-top: 25px;
    width: 70%;
}



.example-full-width {
    width: 100%;
  }

  @media (max-width: 769px) {
    mat-card{
      width: 90%;
    }
  }

  @media (max-width: 576px) {
    mat-card{
      width: 95%;
    }
  }