<div class="content-container mat-elevation-z8">
  @if (isLoadingResults) {
    <div class="loading-shade">
        <mat-spinner></mat-spinner>
    </div>
  }

  <div class="boton-container">
    <a routerLink="/cierre/reporte" class="go-back" matTooltip="Ir atras">
      <mat-icon>arrow_back</mat-icon>
    </a>
  </div>

  <div class="mt-0">
    <mat-card class="mt-0">
      <mat-card-content>
        <div class="info-container" *ngIf="cierreInventario">
          <h3><strong><mat-icon>person</mat-icon> Funcionario:</strong> {{ cierreInventario.funcionario_nombre }}</h3>
          <h3><strong><mat-icon>location_on</mat-icon>  Ubicación:</strong> {{ cierreInventario.ubicacion_nombre }}</h3>
          <h3><strong><mat-icon>calendar_month</mat-icon>  Fecha:</strong> {{ cierreInventario.fecha | date: 'dd-MM-yyyy' }}</h3>
          <h3><strong><mat-icon>plagiarism</mat-icon>  Tipo de revisión:</strong> {{ removeCaps(cierreInventario.tipo_revision) }}</h3>  
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  
  <mat-form-field class="buscar">
    <mat-icon matTextPrefix class="search-icon">search</mat-icon>
    <mat-label>Buscar...</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ej. Monitor, Aula 01, 6105-1234" #input>
  </mat-form-field>
  
  <div class="">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id_registro">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id registro </th>
          <td mat-cell *matCellDef="let row"> {{ row.id_registro }} </td>
        </ng-container>
    
        <ng-container matColumnDef="no_identificacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero de placa </th>
          <td mat-cell *matCellDef="let row"> {{ row.no_identificacion }} </td>
        </ng-container>
    
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
          <td mat-cell *matCellDef="let row"> {{ row.descripcion }} </td>
        </ng-container>
    
        <ng-container matColumnDef="marca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
          <td mat-cell *matCellDef="let row"> {{ row.marca }} </td>
        </ng-container>
    
        <ng-container matColumnDef="modelo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
          <td mat-cell *matCellDef="let row"> {{ row.modelo }} </td>
        </ng-container>
    
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
          <td mat-cell *matCellDef="let row"> {{ removeCaps(row.status) }} </td>
        </ng-container>

        <ng-container matColumnDef="nota">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nota </th>
          <td mat-cell *matCellDef="let row"> {{ row.nota || '-' }} </td>
        </ng-container>
    
        
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            <div>
              No se han encontrado datos para "{{input.value}}"
            </div>
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="pageSizeOptions"  showFirstLastButtons [pageSize]="10" aria-label="Seleccione pagina de usuarios" ></mat-paginator>
  </div>
</div>