mat-card{
  margin-left: 20px;
}

.info-container {
  display: flex;
  justify-content: stretch;
  gap: 75px;
}

h3 strong {
  display: flex;
  align-items: center;
  justify-content: start;
  color: #673ab7;
}

@media (max-width: 900px) {
  .info-container{
    flex-wrap: wrap;
  }
}