.example-table-container {
  position: relative;
  // min-height: 200px;
  // max-height: 400px;
  overflow: auto;
}

mat-card{
    margin: 0 auto;
    margin-top: 25px;
    box-shadow: none;
    width: 90%;
}