<div class="row">

    <div class="col-sm-6">
        <mat-card class="example-card">
            <mat-card-header>
              <!-- <mat-card-subtitle>Activos</mat-card-subtitle> -->
              <mat-card-title>Crear Acta de Baja </mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
                <br>
              <p>Mediante este modulo podra crear y generar el PDF del acta de baja de uno o varios activos del inventario</p>
              <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
              <button mat-flat-button color="primary" [routerLink]="['/actas/baja']" >Entrar</button>
              <button mat-flat-button color="primary">Como Usar</button>
            </mat-card-actions>
            <mat-card-footer>
              
            </mat-card-footer>
          </mat-card>
    </div>
    <div class="col-sm-6">
      <mat-card class="example-card">
        <mat-card-header>
          <!-- <mat-card-subtitle>Activos</mat-card-subtitle> -->
          <mat-card-title>Crear Acta de Traslado </mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <br>
          <p>Mediante este modulo podra crear y generar el PDF del acta de traslado de uno o varios activos del inventario</p>
          <p></p>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" [routerLink]="['/actas/traslado']" >Entrar</button>
          <button mat-flat-button color="primary">Como Usar</button>
        </mat-card-actions>
        <mat-card-footer>
          
        </mat-card-footer>
      </mat-card>

        
    </div>
       
</div>
<div class="row">
  <div class="col-sm-6">
    <mat-card class="example-card">
      <mat-card-header>
        <!-- <mat-card-subtitle>Actas</mat-card-subtitle> -->
        <mat-card-title>Crear Excels</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
          <br>
        <p>Mediante este modulo podra generar Excels de los activos y observaciones en diferentes formatos.</p>
        <p></p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" [routerLink]="['/actas/excels']" >Entrar</button>
        <button mat-flat-button color="primary">Como Usar</button>
      </mat-card-actions>
      <mat-card-footer>
        
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="col-sm-6">
    <mat-card class="example-card">
      <mat-card-header>
        <!-- <mat-card-subtitle>Actas</mat-card-subtitle> -->
        <mat-card-title>Listado de Actas</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
          <br>
        <p>Mediante este modulo podra ver el listado de todas las actas disponibles para impresion,asi cuales han sido impresas y cuales no.</p>
        <p></p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" [routerLink]="['/actas/lista']" >Entrar</button>
        <button mat-flat-button color="primary">Como Usar</button>
      </mat-card-actions>
      <mat-card-footer>
        
      </mat-card-footer>
    </mat-card>
  </div>
</div>
