.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Align text */
  width: 95%;
  margin: 25px auto;
}
.imgLogo{
  max-width: 150px;
  margin-top: 5px;
}

button {
  margin-top: 20px; /* Add some spacing between the button and the last <h2> */
}

.rojo {
  color: red;
}

.verde {
  color: green;
}