<div class="">
  <div class="row d-flex justify-content-center">
    <h2 mat-dialog-title>Ingrese el número de serie</h2>
  </div>
  <div class="row d-flex justify-content-center">
    <p>Activo {{data.index}} de {{data.total}}</p>
  </div>
  <div class="row d-flex justify-content-center">
    <div mat-dialog-content>
      <form [formGroup]="serieForm">
        <mat-form-field appearance="outline">
          <mat-label>Número de Serie</mat-label>
          <input matInput formControlName="serie">
        </mat-form-field>
        <div mat-dialog-actions>
          <button mat-flat-button color="primary" type="submit" (click)="onSubmit()" [disabled]="!serieForm.valid">Guardar</button>
          <button mat-flat-button color="warning" class="cancelar" (click)="onCancel()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>

